@using MVC_03_公司練習.Models

@model  List<EmployeeModel>

@{
    ViewBag.Title = "Home Page";
}

<div class="col-md-12" style="margin-top:10px;">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">姓名</th>
                <th scope="col">員工編號</th>
                <th scope="col">部門名稱</th>
                <th scope="col">部門代號</th>
                <th scope="col">單位名稱</th>
                <th scope="col">單位代號</th>
                <th scope="col">職稱</th>
                <th scope="col">Email</th>
                <th scope="col">分數</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                // 取得單一資料
                EmployeeModel employee = Model.Where(x => x.EmpNo == ViewBag.id).FirstOrDefault();
                <tr>
                    <th scope="row">@employee.Name</th>
                    <td>@employee.EmpNo</td>
                    <td>@employee.Dept</td>
                    <td>@employee.DeptNo</td>
                    <td>@employee.Unit</td>
                    <td>@employee.UnitNo</td>
                    <td>@employee.Title</td>
                    <td>@employee.Email</td>
                    <td>@employee.Score</td>
                </tr>
            }
        </tbody>
    </table>
</div>
